# Listas en Python

**Listas** <br>
Las listas son un tipo de dato en Python y son dinámicas, es decir se pueden agregar o eliminar elementos. <br>
 Cada valor está separado por una coma y rodeado por corchetes `([])`

In [3]:
planets = ['Mercurio', 'Venus', 'Earth','Mars', 'Jupiter', 'Satunr', 'Uranus', 'Neptune' ]

**Acceder a elementos de la lista por índice `lista[]`** <br>
Todos los indices de las listas inician en cero `0`

In [4]:
print('the first planet is', planets[0])
print('the first planet is', planets[1])
print('the first planet is', planets[2])

the first planet is Mercurio
the first planet is Venus
the first planet is Earth

Se pueden modificar los valores mediante un índice.

In [12]:
planetas = ['Mercurio', 'Venus', 'Earth','Mars', 'Jupiter', 'Satunr', 'Uranus', 'Neptune' ]

# Imprimie la lista inicial sin modificaciones
print('La lista inicla de planetas es:', planetas)
# Imprime el valor del indice 3
print('El valor del indice 3 en la lista es:', planetas[3])

# Moficacion de valor en el idice 3 de la lista
planetas[3] = 'Red Planet'
print('El valor del indice 3 en la lista ahora es:', planetas[3], 'Mars is also know as', planetas[3])
print('La lista nueva de planetas es:', planetas)

La lista inicla de planetas es: ['Mercurio', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Satunr', 'Uranus', 'Neptune']
El valor del indice 3 en la lista es: Mars
El valor del indice 3 en la lista ahora es: Red Planet Mars is also know as Red Planet
La lista nueva de planetas es: ['Mercurio', 'Venus', 'Earth', 'Red Planet', 'Jupiter', 'Satunr', 'Uranus', 'Neptune']

**Determinar la logitud de un lista `len(lista)`**

In [5]:
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system')

There are 8 planets in the solar system

**Agregar valores a listas `.append(value)`** <br>
planets.

In [14]:
planets = ['Mercurio', 'Venus', 'Earth','Mars', 'Jupiter', 'Satunr', 'Uranus', 'Neptune' ]
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system')

There are actually 9 planets in the solar system

**Eliminar valores de una lista `.pop`**

In [15]:
planets.pop()  # Goodby, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system')

No, there are definitely 8 planets in the solar system

**índices negativos** <br>
 Los índices negativos comienzan al final de la lista y trabajan hacia atrás. <br>
 El indice `-1` devuelve el ultimo elemento de la lista

In [17]:
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

**Buscar un valor en una lista** <br>
Para determinar en qué parte de una lista se almacena un valor, utilizamos el método `index()` de la lista. Este método busca el valor y devuelve el índice de ese elemento en la lista. Si no encuentra una coincidencia, devuelve `-1`.

In [18]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

**Almacenar números en listas**

In [19]:
# Variables que almacenan numero flotantes
gravity_on_earth = 1.0
gravity_on_the_moon = .168

# Fuerzzas gravitacionales de lo 8 planetas del sistema solar
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

En esta lista, gravity_on_planets[0] está la gravedad en Mercurio (0.378 G), gravity_on_planets[1] es la gravedad en Venus (0.907 G), y así sucesivamente. <br><br>

En la Tierra, un autobús de dos pisos pesa 12,650 kilogramos (kg), que es 12.65 toneladas. En Mercurio, donde la gravedad es de 0,378 G, el mismo autobús pesa 12.65 toneladas multiplicadas por 0.378. En Python, para multiplicar dos valores, se utiliza el símbolo *.<br><br>

En el siguiente ejemplo, puedes calcular el peso de un bus de dos pisos en diferentes planetas obteniendo el valor de la lista:

In [24]:
# Fuerzzas gravitacionales de lo 8 planetas del sistema solar
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

**min() y max () con listas** <br>
`max()` devuelve el numero mas grande <br>
`min()` devuelve el numero mas pequeño

In [25]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

**Manipular datos de lista**

`Slice list`<br>
Puedes recuperar una parte de una lista mediante un `slice` (Entendamos slice como una porción, un pedacito, un fragmento, segmento.). `Slice` utiliza corchetes, pero en lugar de un solo elemento, tiene los índices inicial y final de los elementos que queremos recuperar. Cuando se utiliza `slice`, se crea una nueva lista que comienza en el índice inicial y que termina antes (y no incluye) el índice final.<br>

La lista de planetas tiene ocho elementos. La Tierra es la tercera en la lista. Para obtener los planetas antes que la Tierra, use un slice para obtener elementos que comienzan en 0 y terminan en 2: <br>

Un `slice` crea una nueva lista. No modifica la lista actual.

In [27]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mercury', 'Venus']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

**Uniendo listas `+`** <br>
Al unir las listas, se crea una nueva lista. No se modifica la lista actual. <br>

Hay 79 lunas conocidas de Júpiter. Las cuatro más grandes son Io, Europa, Ganímedes y Calisto. Estas se llaman las lunas galileanas, porque Galileo Galilei las descubrió usando su telescopio en 1610. Más cerca de Júpiter que del grupo galileo está el grupo de Amaltea. Consiste en las lunas Metis, Adrastea, Amaltea y Teba. <br>

Crea dos listas. Llene la primera lista con las cuatro lunas de Amaltea y la segunda lista con las cuatro lunas galileanas. Únelos para crear una nueva lista:

In [28]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

**Ordenar listas `sort()`**<br>
ordenará una lista de cadenas en orden alfabético y una lista de números en orden numérico: <br>
Al usar el método .sort modificas la lista actual.

In [30]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

# ordena una lista en forma inversa .sort(reverse=True)
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']

# Ejercicio1: Crear y usar listas de Python <br>
**Ejercicio: Usar listas para almacenar nombres de planetas** 
<br><br>
Las listas permiten almacenar varios valores en una sola variable. Comenzarás un proyecto sobre información planetaria creando una lista de planetas. <br><br>
En primer lugar, crea una variable denominada planets. Agrega los ocho planetas (sin Plutón) a la lista. A continuación, muestra el número de planetas.

In [31]:
# Creamos la lista de los 8 planetas
planetas = ['Mercurio', 'Venus','Tierra', 'Marte','Jupiter', 'Saturno','Urano', 'Neptuno']

# Agrega Pluton a la lista planetas
# Muestra el ultimo elemeno de ñaa lista
planetas.append('Plutón')
print(planetas[-1])

# Imprime la lista
print(planetas)

Plutón
['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno', 'Plutón']

# Ejercicio 2: Trabajando con datos de una lista <br>
**Usar slices para recuperar partes de una lista** <br><br>
Es posible que debas trabajar con diferentes secciones de una lista. En nuestro ejemplo, queremos mostrar planetas más cerca y más lejos del sol de un planeta que el usuario ingresa por teclado.<br>

Comienza agregando el código para crear una lista con los planetas.

In [44]:
# Lista de planetas
planetas = ['Mercurio', 'Venus','Tierra', 'Marte','Jupiter', 'Saturno','Urano', 'Neptuno']

# Solicitamos el nombre de un planeta
nombrePlaneta = input('Ingresa el nombre de un planeta, (Inicia el nobre con mayuscula, por ejemplo: Pluton): ')

# Busca el planeta en la lista
planet_index = planetas.index(nombrePlaneta)
print(f'Planeta { nombrePlaneta } encontrado en la lista')

# Mostrar planetas más cercaos al sol que el usuario ingresó
print('Aqui estan los planetas mas cercanos al sol desde ' + nombrePlaneta)
print(planetas[0:planet_index])

# Muestra los planetas más lejanos a sol
print('Aqui estan los planetas mas lejanos al sol desde ' + nombrePlaneta)
print(planetas[planet_index + 1:])

Planeta Jupiter encontrado en la lista
Aqui estan los planetas mas cercanos al sol desde Jupiter
['Mercurio', 'Venus', 'Tierra', 'Marte']
Aqui estan los planetas mas lejanos al sol desde Jupiter
['Saturno', 'Urano', 'Neptuno']